@{
    ViewData["Title"] = "DisplayProgressBar";
}

@*Step 8*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Status of your background job: <strong><span id="job-status">Waiting to start...</span></strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="progress">
                <div id="progressStrip" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @*Add SignalR Library*@
    <script type="text/javascript" src="~/js/signalr/dist/browser/signalr.js"></script>

    <script type="text/javascript">

        // Build SignalR Connection
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/jobprogress") // SignalR endpoint
            .build();

        // SignalR Connection On and received counter data from server (Real Time Comminication)
        connection.on("progress",
            (counterPercentage) => {
                if (counterPercentage === 100) {
                    $("#job-status").html("Finished!");

                    displayProgressBar(counterPercentage,"Job Completed");
                }
                else {
                    console.log(counterPercentage);
                    $("#job-status").html(`${counterPercentage}%`);

                    displayProgressBar(counterPercentage, "Job Running");

                }
            });

        // Start the Connection
         connection.start()
            .then(_ => connection.invoke("AssociateJob", "@ViewBag.JobId"))
            .catch(err => console.error(err.toString()));

        // Show Progress Bar Display
        function displayProgressBar(counterPercentage, status) {
            $("#progressStrip").data("aria-valuenow", counterPercentage);
            $("#progressStrip").css("width", `${counterPercentage}%`);
            $("#progressStrip").html(`${status} ${counterPercentage}%`);
        }
    </script>

}